@import 'navbar.scss';
@import 'colors.scss';
body { margin: 0; }

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Black_1.ttf) format('truetype');
       font-weight: 800;
}

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Medium_2.ttf) format('truetype');
       font-weight: 600;
}

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Narrow_Thin_2.ttf) format('truetype');
       font-weight: 300;
}

.border-bottom-inset::after {
  content: '';
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 30px;
	border-color: $MIDDLE_GRAY;
	border-style: solid;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.border-top {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-color: $MIDDLE_GRAY;
	border-top-style: solid;
	border-top-width: 30px;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}

#content-wrapper {
  font-family: 'Open Sans', sans-serif;
	color: $BLACK;
	.app {
		display: flex;
		flex-direction: column;
		.slide-content-wrapper {
			display: flex;
			overflow: auto;
			flex-direction: column;
			align-items: center;
			max-width: 1000px;
			width: 100%;
		}
		.slide {
			text-align: center;
			display: flex;
			justify-content: center;
			position: relative;
			overflow: hidden;
			height: calc(100vh - 100px);
			.background {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 10;
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.plate {
				z-index: 11;
				font-family: 'FF Clan';
				background-color: white;
				width: 500px;
				height: 87%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-items: flex-start;
				text-align: left;
				padding-left: 70px;
				padding-right: 70px;
				box-sizing: border-box;
				.plate-title {
					margin-top: 40px;
					font-weight: 600;
					font-size: 18pt;
					text-transform: uppercase;
				}
				.plate-text {
					margin-top: 30px;
					font-family: 'Open Sans';
					font-size: 11pt;
				}
			}
			&.slide1 {
				margin-top: 100px;
				background-color: $LIGHT_GRAY;
				.slide1-content-wrapper {
					justify-content: flex-start;
				}
				.slide1-back {
					transform: translateY(50%);
					img {
						transform: scale(0.6) translateX(-42%) translateY(-50%);
					}
				}
				.plate1 {
					margin-top: auto;
					.presenting {
						font-size: 11pt;
						margin-top: 50px;
						color: $GRAY;
					}
					.big-letters {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: stretch;
						margin-top: 50px;
						font-weight: 800;
						font-size: 32pt;
						color: $BLUE;
						border-left: 20px;
						border-color: $RED;
						text-align: left;
						.left-row {
							background-color: $RED;
							width: 20px;
							margin-top: 10px;
							margin-bottom: 10px;
							padding: 0;
						}
						.right-row {
							margin-left: 20px;
							p { margin: 0; }
						}
					}
					.fline-is {
						margin-top: 50px;
						font-size: 11pt;
						font-family: 'Open Sans';
						color: $BLACK;
						font-weight: 400;
						width: 330px;
						text-align: left;
						strong {
							font-weight: 600;
							color: $RED;
						}
					}
				}
			}
			.slide2 {
				background-color: blue;
				> .slide2-content-wrapper {
					justify-content: center;
					align-items: center;
					background-color: red;
				}
				.plate2 {
					display: flex;
					flex-direction: column;
					align-content: center;
					justify-items: center;
				}
			}
			.slide3 {
				background-color: $LIGHT_GRAY;
				.plate3 {

				}
			}
		}
	}
}
