@import 'navbar.scss';

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Black_1.ttf) format('truetype');
       font-weight: 800;
}

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Narrow_Thin_2.ttf) format('truetype');
       font-weight: 300;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dddddd;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;

	.app {
		width: 100%;
		max-width: 1000px;
		text-align: center;
		.slide1 {
			height: calc(100vh-100px);
			margin-top: 100px;
			width: 100%;
		}
	}
}
