@import 'navbar.scss';
@import 'colors.scss';

$viktor: url(../../images/viktor.jpg);
$ivan: url(../../images/ivan.jpg);
$sergey: url(../../images/sergey.jpg);

body { margin: 0; }

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Black_1.ttf) format('truetype');
       font-weight: 800;
}

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Medium_2.ttf) format('truetype');
       font-weight: 600;
}

@font-face {
  font-family: 'FF Clan';
  src: local('FF Clan'),
       local('FF-Clan'),
       url(../fonts/FF_Clan_Pro_Narrow_Thin_2.ttf) format('truetype');
       font-weight: 300;
}

.select-red {
	color: $RED;
}

.select-blue {
	color: $BLUE;
}

.border-top-inset::after {
  content: '';
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 30px;
	border-color: $MIDDLE_GRAY;
	border-style: solid;
		border-bottom: 0;
	border-left: 0;
	border-right: 0;
}
.border-bottom-inset::after {
  content: '';
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 30px;
	border-color: $MIDDLE_GRAY;
	border-style: solid;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.border-bottom {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-color: $MIDDLE_GRAY;
	border-bottom-style: solid;
	border-bottom-width: 30px;
	border-left: 0;
	border-right: 0;
}

.border-top {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-color: $MIDDLE_GRAY;
	border-top-style: solid;
	border-top-width: 30px;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}

#content-wrapper {
  font-family: 'Open Sans', sans-serif;
	color: $BLACK;
	.app {
		display: flex;
		flex-direction: column;
		.slide-content-wrapper {
			display: flex;
			overflow: auto;
			flex-direction: column;
			align-items: center;
			max-width: 1000px;
			width: 100%;
		}
		.slide {
			text-align: center;
			display: flex;
			justify-content: center;
			position: relative;
			overflow: hidden;
			height: calc(100vh - 100px);
			.background {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 10;
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.plate {
				z-index: 11;
				font-family: 'FF Clan';
				background-color: white;
				width: 500px;
				height: 87%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-items: flex-start;
				text-align: left;
				padding-left: 70px;
				padding-right: 70px;
				box-sizing: border-box;
				.plate-title {
					margin-top: 40px;
					font-weight: 600;
					font-size: 18pt;
					text-transform: uppercase;
				}
				.plate-text {
					margin-top: 30px;
					font-family: 'Open Sans';
					font-size: 11pt;
				}
			}
			&.slide1 {
				margin-top: 100px;
				background-color: $LIGHT_GRAY;
				.slide1-content-wrapper {
					justify-content: flex-start;
				}
				.slide1-back {
					transform: translateY(50%);
					img {
						transform: scale(0.6) translateX(-42%) translateY(-50%);
					}
				}
				.plate1 {
					height: 93%;
					margin-top: auto;
					.presenting {
						font-size: 11pt;
						margin-top: 50px;
						color: $GRAY;
					}
					.big-letters {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: stretch;
						margin-top: 50px;
						font-weight: 800;
						font-size: 32pt;
						color: $BLUE;
						border-left: 20px;
						border-color: $RED;
						text-align: left;
						.left-row {
							background-color: $RED;
							width: 20px;
							margin-top: 10px;
							margin-bottom: 10px;
							padding: 0;
						}
						.right-row {
							margin-left: 20px;
							p { margin: 0; }
						}
					}
					.fline-is {
						margin-top: 50px;
						font-size: 11pt;
						font-family: 'Open Sans';
						color: $BLACK;
						font-weight: 400;
						width: 330px;
						text-align: left;
						strong {
							font-weight: 600;
							color: $RED;
						}
					}
					.action-button {
						background-color: $BLUE;
						text-transform: uppercase;
						display: flex;
						justify-content: center;
						align-items: center;
						font-weight: 600;
						color: white;
						font-family: 'Open Sans';
						width: 100%;
						height: 60px;
						margin-top: 20px;
					}
				}
			}
			&.slide2 {
        .slide2-back {
					display: flex;
					img {
						width: 100%;
						height: 100%;
					}
					svg {
						width: 100%;
						height: 100%;
					}
					.slide2-back-left {
						flex: 1;
						position: relative;
						svg {
							left: 0px;
							transform: scale(10);
						}
					}
					.slide2-back-right {
						flex: 1;
						position: relative;
						svg {
							left: 0px;
						}
					}
				}
				.slide2-content-wrapper {
					justify-content: center;
					align-items: center;
				}
				.plate2 {
					display: flex;
					flex-direction: column;
          align-items: flex-start;
          justify-content: center;
				}
			}

			&.slide3 {
        .slide3-back {
					border-top-style: solid;
					border-top-color: $MIDDLE_GRAY;
					border-top-width: 30px;
					display: flex;
					background-color: $LIGHT_GRAY;
					img {
						width: 100%;
						height: 100%;
					}
					svg {
						width: 100%;
						height: 100%;
					}
					.slide3-back-left {
						flex: 1;
						position: relative;
						svg {
							left: 0px;
							transform: scale(10);
						}
					}
					.slide3-back-right {
						flex: 1;
						position: relative;
						svg {
							left: 0px;
						}
					}
				}
				.slide3-content-wrapper {
					justify-content: center;
					align-items: center;
				}
				.plate3 {
					margin-bottom: auto;
					height: 87%;
					padding-top: 40px;
					padding-bottom: 60px;
					display: flex;
					flex-direction: column;
          align-items: center;
          justify-content: center;
				}
			}

			&.slide4 {
				height:110vh;
        .slide4-back {
					display: flex;
					background-color: white;
					width: 100%;
					.blocks {
						position: absolute;
						top: -30px;
						left: -180px;
						width: 130vw;
						height: 20vh;
						z-index: 4;
						img {
							width: 100%;
							height: 100%;
						}
						svg {
							width: 100%;
							height: 100%;
						}
					}
					.Plx {
						z-index: 3;
						position: absolute;
						width: 50vw;
						height: 50vw;
						img {
							width: 100%;
							height: 100%;
						}
						.blurred-left {
							left: 0px;
							transform: translateX(-50%);
						}
						.blurred-right {
							right: 0px;
							transform: translateX(50%);
						}
					}
				}
				.slide4-content-wrapper {
					justify-content: center;
					align-items: center;
				}
				.plate4 {
					margin-top: 50px;
					height: auto;
					width: 500px;
					padding-top: 40px;
					padding-bottom: 60px;
					display: flex;
					flex-direction: column;
          align-items: center;
          justify-content: center;
					.plate-text {
						width: 360px;
					}
					.numbers {
						display: flex;
						flex-direction: column;
						margin-bottom: 40px;
						.number {
							margin-top: 15px;
							display: flex;
							justify-content: space-between;
							align-items: flex-end;
							white-space: nowrap;
							.field {
								font-size: 12pt;
								font-weight: 600;
							}
							.dots {
								letter-spacing: 4px;
								flex-grow: 1;
								overflow: hidden;
								margin-left: 20px;
								margin-right: 20px;
								color: $MIDDLE_GRAY;
								font-size: 18pt;
								&::after {
									content: '....................................';
								}
							}
						}
					}
				}
			}

			&.slide5 {
        .slide5-back {
					display: flex;
					background-color: $LIGHT_GRAY;
					width: 100%;
				}
				.slide5-content-wrapper {
					justify-content: center;
					align-items: center;
				}
				.team-title {
					font-family: 'FF Clan';
					font-weight: 600;
					font-size: 30pt;
					z-index: 10;
					text-transform: uppercase;
					margin-bottom: 40px;
					color: $BLUE;
				}
				.faces {
					z-index: 10;
					display: flex;
					justify-content: space-around;
					width: 100%;
					margin-top: 150px;
					text-align: left;
					@media(max-width: 992px) {
						flex-direction: column;
						align-items: center;
						margin-top: 60px;
					}
					.faces-columns-wrapper {
						display: flex;
						flex-direction: column;
						align-items: center;
						margin-top: -100px;
						width: 300px;
						@media(max-width: 992px) {
							margin-top: 50px;
							&:first-of-type {
								margin-top: 0px;
							}
						}
					}
					.face-face {
						width: 200px;
						height: 200px;
						//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
						border-radius: 50%;
						background-position: center;
						background-size: cover;
						margin-bottom: 20px;
					}
					.viktor {
						background-image: $viktor;
					}
					.ivan {
						background-image: $ivan;
					}
					.alla {
						background-image: $sergey;
					}
					.faces-name {
						margin-top: 15px;
						font-weight: 600;
						font-size: 14pt;
						width: 250px;
						color: $BLUE;
					}
					.faces-status {
						margin-top: 15px;
						font-weight: 300;
						font-style: italic;
						font-size: 12pt;
						width: 250px;
					}
					.faces-cv {
						margin-top: 15px;
						font-size: 10pt;
						padding: 0 20px;
					}
				}
				.plate5 {
					height: auto;
					padding-top: 40px;
					padding-bottom: 60px;
					display: flex;
					flex-direction: column;
          align-items: center;
          justify-content: center;
				}
			}
		}
	}
}
