@import 'colors.scss';

.navbar-wrapper {
	width: 100vw;
	background-color: white;
	height: 100px;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 20;
	.navbar {
		width: 100%;
		max-width: 1000px;
    height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		top: 0;
		.logo {
			max-height: 50px;
		}
		.links {
			a {
				margin-left: 30px;
				color: $GRAY;
				&:first-of-type {
					margin-left: 0;
				}
			}
  	}
  	.contactus {

  	}
	}
}
